.profile-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 150px;
  width: 100%;
  text-align: center;
  background: url("../../images/background-img.png");
}

.profile-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.profile-info .img-upload p {
  height: 180px;
  width: 180px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(145, 144, 144);
  cursor: pointer;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.profile-info .img-upload p i {
  color: #fff;
  font-size: 2rem;
}

.img-upload {
  width: 40%;
  margin-top: 60px;
}

.img-upload h2 {
  margin: 10px 0 0 10px;
  white-space:nowrap;
}

.img-info {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin-top: 100px;
}

.img-info-name {
  display: flex;
  flex-direction: column;
}

.img-info-name input {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 11px 10px;
  width: 100%;
  margin-bottom: 20px;
}
.img-info-butt {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.img-info-butt button {
  padding: 15px 60px;
  border: none;
  border-radius: 50px;
  background-color: #34236d;
  color: #fff;
}

.img-upload {
  width: 40%;
  margin-top: 60px;
}

.img-upload h2 {
  margin: 10px 0 0 10px;
}

.img-wrapper {
  height: 180px;
  width: 180px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(145, 144, 144);
  cursor: pointer;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.uploaded-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 992px) {
  .profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .img-upload {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .img-info {
    margin-top: 50px;
  }
}

@media screen and (max-width: 576px) {
  .img-info-name input {
    width: 100%;
  }
  .img-info {
    width: 100%;
  }
}
