.banner-aboutUs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 300px;
  width: 100vw;
  text-align: center;
  background: url("../../images/background-img.png");
}

.banner-aboutUs h2,
.aboutus-para {
  color: #fff;
}

.aboutus-para {
  width: 420px;
}

.aboutus-first-sec {
  display: flex;
  flex-direction: column;
  margin-right: 35px;
}

.aboutus-content {
  display: flex;
  justify-content: space-between;
}

.aboutus-sec-first .first-text p {
  margin-bottom: 20px;
}

.aboutus-content img {
  border-radius: 20px;
}

.first-inner-img {
  display: flex;
  margin-top: 20px;
  gap: 20px;
}

.aboutus-second-sec .aboutus-text {
  color: black;
}

.aboutus-sec-first,
.about-sec-second {
  display: flex;
  margin-top: 20px;
}

.first-text {
  margin-left: 20px;
}

.first-text p {
  width: 330px;
}

.aboutus-second-sec button {
  margin-top: 20px;
  color: #fff;
  padding: 12px 20px;
  background-color: #383564;
  border-radius: 50px;
}

.aboutus-second-sec .second-text {
  line-height: 43px;
  margin-bottom: 22px;
}

@media screen and (max-width: 992px) {
    .aboutus-content{
        display: flex;
        flex-direction: column;
    }
    .aboutus-first-sec img{
        width: 100%;
    }
    .aboutus-second-sec{
        margin-top: 50px;
    }
    .aboutus-second-sec .second-text {
        margin-bottom: 10px;
    }
    .aboutus-second-sec .aboutus-sec-first .first-text p{
        width: 100%;
    }
    .aboutus-second-sec .about-sec-second .first-text p{
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 576px) {
    .aboutus-first-sec img{
        width: 105%;
    }
    .aboutus-first-sec .first-inner-img{
        display: flex;
        flex-direction: column;
    }
    .aboutus-second-sec .aboutus-sec-first, .about-sec-second{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .aboutus-second-sec .aboutus-sec-first, .first-text{
        margin-left: 0;
        margin-top: 10px;
    }
    /* .aboutus-second-sec .aboutus-sec-first .first-text p{
        width: 100%;
    } */
    .aboutus-second-sec .aboutus-sec-first{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

@media screen and (max-width: 350px) {
}
