.paymentcheckout-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 150px;
  width: 100%;
  text-align: center;
  background: url("../../images/background-img.png");
  color: white;
}

.order-summary {
  display: flex!important;
  justify-content: space-between!important;
  padding: 20px;
  flex-wrap: wrap;
  margin-top: 50px;
}

.order-summary-title {
  color: black;
  margin-bottom: 15px;
}

.order-detail {
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
  width: 45%;
}

.order-items {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.order-name, .order-price {
  display: flex;
  flex-direction: column;
  color: black;
}

.order-description {
  color: #666;
  font-size: 0.9rem;
  width: 101%;
}

.order-total {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 8px;
  width: 45%;
}

.order-coupon {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  margin-bottom: 90px;
}

.coupon-about {
  display: flex;
  align-items: center;
}

.coupon-icon {
  font-size: 2.5rem;
  margin-right: 10px;
  margin-bottom: 15px;
}

.coupon-text h2 {
  margin: 0;
  color: black;
}

.coupon-text p {
  color: red;
  margin: 0;
  font-weight: 500;
}

.select-button {
  background-color: #e54b22;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.order-total-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.total-saving{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.total-saving h3 {
  color: black;
  margin-bottom: 5px;
}

.total-saving h5 {
  color: red;
}

.order-amount{
  margin-bottom: 40px;
}

.payment-button {
  background-color: #383564;
  color: white;
  padding: 15px 40px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  margin: 20px auto 0 auto;
  position: relative;
  left: 450px;
}

@media screen and (max-width: 992px) {
  .order-summary {
    flex-direction: column;
  }

  .order-detail, .order-total {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .paymentcheckout-banner {
    height: 120px;
  }
}

@media screen and (max-width: 576px) {
  /* .order-coupon {
    flex-direction: column;
    align-items: flex-start;
  } */

  .order-total-price {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (max-width: 350px) {
  .paymentcheckout-banner h1 {
    font-size: 18px;
  }

  .payment-button {
    padding: 10px;
  }
}
