.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
}

.contain .link-text {
  color: #fff;
  margin-top: 5px;
}

.logo img {
  height: 50px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin: 0 20px;
  position: relative;
  cursor: pointer;
}

.nav-item p {
  margin: 0;
}

.nav-item h5 {
  margin: 0;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.dropdown a {
  text-decoration: none;
  display: block;
  white-space: nowrap;
  padding: 6px 10px;
}

.dropdown a:hover .logout-button:hover {
  background-color: #383564;
  color: #fff !important;
}

.logout-button {
  color: black;
  padding: 8px 12px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #383564;
  color: #fff !important;
}

.nav-actions {
  display: flex;
  align-items: center;
  position: relative;
}

.cart-button {
  height: 42px;
  width: 42px;
  border-radius: 50%;
  background-color: #383564;
  color: #fff;
  font-size: 1.2rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
}


.signin-button {
  background: none;
  border: 1px solid #e0e0e0;
  margin: 0 10px;
  font-size: 18px;
  cursor: pointer;
  padding: 7px 20px;
  border-radius: 62px;
}

.signin-button:hover {
  background-color: #383564;
  color: #fff;
}

.bx-dots-vertical-rounded {
  font-size: 1.7rem;
  font-weight: 400;
  padding: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #fff;
  cursor: pointer;
}

.bx-dots-vertical-rounded:hover {
  border: 1px solid #e0e0e0;
}

.user-dropdown {
  position: absolute;
  right: 0;
  top: 100%;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 4px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.user-dropdown a {
  text-decoration: none;
  color: black;
  padding: 8px 12px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.user-dropdown a i {
  margin-top: 10px;
  font-size: 1.2rem;
  vertical-align: middle;
  margin-right: 8px;
  position: relative;
  top: -4px;
}

.user-dropdown a:hover {
  background-color: #383564;
  color: #fff;
}

@media screen and (max-width: 992px) {
  .nav-item h5 {
    font-size: 14px;
  }

  .nav-item p {
    font-size: 12px;
  }

  .cart-button {
    font-size: 1rem !important;
    height: 36px;
    width: 36px;
  }

  .signin-button {
    font-size: 16px;
    padding: 5px 15px;
  }

  .bx-dots-vertical-rounded {
    font-size: 1.5rem;
  }

  .user-dropdown a {
    padding: 6px 10px;
  }

  .user-dropdown a i {
    font-size: 1rem !important;
  }
}

@media screen and (max-width: 768px) {
  .head-contain {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .navigation {
    margin: 20px 0 20px 0px;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .nav-actions {
    position: absolute;
    top: 0;
    right: 0;
  }

  .nav-item {
    margin: 0 10px;
  }

  .signin-button {
    font-size: 14px;
    padding: 4px 12px;
  }
}

/* For small devices */
@media screen and (max-width: 576px) {
  .header {
    padding: 5px 0px;
  }

  .logo img {
    height: 40px;
  }

  .nav-item {
    margin: 0 5px;
    white-space: nowrap;
  }

  .cart-button {
    height: 30px;
    width: 30px;
    font-size: 0.9rem !important;
  }

  .signin-button {
    font-size: 12px;
    padding: 3px 10px;
  }

  .bx-dots-vertical-rounded {
    font-size: 1.2rem;
  }

  .user-dropdown {
    padding: 8px;
  }

  .user-dropdown a {
    padding: 4px 8px;
  }
}

/* For extra small devices */
@media screen and (max-width: 350px) {
  .logo img {
    height: 30px;
  }

  .cart-button {
    height: 28px;
    width: 28px;
    font-size: 0.8rem !important;
  }

  .signin-button {
    font-size: 10px;
    padding: 2px 8px;
  }

  .bx-dots-vertical-rounded {
    font-size: 1rem;
  }
}