.footer {
  background-color: var(--title-color-dark);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.footer__container {
  padding: 3.5rem 0 3rem;
}

.footer__link {
  color: var(--container-color);
}

.main_footer {
  display: flex;
}

.footer__logo {
  border-radius: 10px;
  margin-bottom: 30px;
}

.footer__title {
  font-size: 1.5rem;
  margin-bottom: 60px;
}

.footer__intro {
  max-width: 60%;
  font-size: 0.9rem;
  color: #fff;
  font-weight: 100 !important;
}

.footer__social {
  width: 50%;
}

.footer__icons {
  display: flex;
  justify-content: center;
  column-gap: 1.2rem;
  margin-left: -20px;
}

.footer__social-link {
  background-color: var(--title-color);
  color: var(--container-color);
  font-size: 1.2rem;
  padding: 0.3rem;
  border-radius: 0.5rem;
  display: flex;
  border: 2px solid black;
}

.footer__social-link:hover {
  border: 2px solid #fff;
  background-color: var(--title-color-dark);
}

.footer__copy {
  display: block;
  margin-top: 4.5rem;
  color: var(--container-color);
  text-align: center;
  font-size: var(--smaller-font-size);
  border-top: 1px solid var(--title-color);
  padding-top: 2.5rem;
}

.footer__copy span {
  font-weight: 600;
  border-bottom: 1px solid #fff;
  cursor: pointer;
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
  .footer__social-link {
    padding: 0.25rem;
    border-radius: 0.25rem;
    font-size: 1rem;
  }
}

/* For medium devices */

@media screen and (max-width: 576px) {
  .main_footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .about {
    margin-top: 0rem;
  }
  .footer__social {
    margin-top: 2rem;
  }
  .footer__title {
    margin-bottom: 0rem;
    font-size: 25px;
  }
  .footer__intro {
    max-width: 100%;
    font-size: 0.8rem;
    margin-top: -1.5rem;
  }
  .footer__icons{
    margin-left: 100px;
  }
  .footer__social-link{
    white-space: nowrap;
    max-width: 100%;
  }
}

/* For small devices */
@media screen and (max-width: 350px) {
}
