.login {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  text-align: center;
  background: url("../../images/background-img.png");
}

.login .container {
  position: relative;
  z-index: 1;
}

.sign {
  margin-top: 20px;
  text-align: center;
  color: white;
}
.form {
  background: #fff;
  padding: 35px 40px 0 40px;
  border-radius: 10px;
  width: 750px;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: black;
  text-align: center;
}

.form h1 {
  margin-bottom: 20px;
}

.lo-form {
  display: flex;
  flex-direction: column;
  margin: 0 100px;
}

.lo-form label {
  margin-bottom: 10px;
  text-align: left;
}

.lo-form input,
.lo-form select {
  width: 100%;
  padding: 12px 15px 10px 10px;
  margin-top: 6px;
  border: 1px solid #ccc;
  border-radius: 50px;
}

.form-group {
  display: flex;
  justify-content: space-between;
}

.form-group label {
  width: 48%;
}

.login-form button {
  padding: 12px 20px;
  position: relative;
  top: 22px;
  background-color: #2f2f2f;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #484848;
}

.login-link {
  margin-top: 30px;
  text-align: center;
  color: black;
}

.login-link Link {
  color: black;
  border-bottom: 1px solid #383564;
  font-weight: 500;
}

.fpass {
  display: flex;
  justify-content: flex-end;
  color: #383564;
  cursor: pointer;
}

@media screen and (max-width: 992px) {
  .form {
    width: 500px;
    padding: 30px 30px 0 30px;
  }
  .lo-form{
    margin: 0;
  }
  .login-form button{
    width: 30%;
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 576px) {
  .form {
    width: 350px;
    padding: 30px 20px 0 20px;
  }
}

@media screen and (max-width: 350px) {
  .form {
    width: 280px;
  }
  .login-form button{
    width: 60%;
  }
}
